.dinoPage {
    ion-card-title {color:blue}
    ion-card-title i {font-size:12pt;color:darkgreen}
    ion-col {max-width:275px;height:390px;float:left;}
    ion-card img {height:155px;width:auto;}
    ion-card textarea {height:75px}

    .entity {padding:0 0 0 0;white-space: nowrap;}
    .entity.cmd {height:35px;max-width:225px;overflow:hidden;}
    .entity.cmd button {
        border-radius: 6px;
        padding:0 8px 0 8px;
        width:100%;
    }
    .entity.cmd.missing strong {
        background-color:red;
        border-color:red;
        cursor:none;
    }

    .entity.cmd span.entity-copy {display:none;}

}

