
.dashboardPage ion-card {width:280px; float:left; margin:10px !important;text-align:center;}
.dashboardPage ion-card-title {text-align:center;color:darkblue}
.dashboardPage ion-card img {height:155px;width:auto;display:inline-block;}
