page-dino {
    ion-card-title {color:blue}
    ion-card-title i {font-size:12pt;color:darkgreen}
    ion-card {
        margin:10px !important;
        max-width:325px;
        height:445px;
        float:left;
        img {height:195px;width:auto;}
        textarea {height:75px}
    }
    .entity {padding:0 8px 0 0;white-space: nowrap;}
    .entity.cmd {height:35px;}
    .entity.cmd button {
        color:#FFF;
        background-color:#006699;
        border-radius: 6px;
        padding:8px 8px 8px 8px;
        width:100%;
        margin:0 8px 0 0;
    }
    .entity.cmd.missing strong {
        background-color:red;
        border-color:red;
        cursor:none;
    }
    .entity.cmd span.entity-copy {display:none;}
}

