
ion-searchbar {
    background-color:#a5a48b !important;
}
ion-header {
    ion-row {
        background-color:#fafcfb !important;
        ion-item {
            background-color:#fafcfb !important;
            .item-inner {
                border:none !important;
            }
        }
    }
}
