<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Caves</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div *ngIf="errorMessage">ERROR:{{errorMessage}}</div>

  <ion-list>
    <ion-list-header>THE ISLAND</ion-list-header>
    <ion-item *ngFor="let item of islandCaves; let i = index">
      <h2>{{item.name}} Cave <i *ngIf="item.type">({{item.type}})</i></h2>
      <h3>GPS: {{item.lat}}, {{item.lon}}</h3>
      <p *ngIf="item.artifact">Artifact of the {{item.artifact}}</p>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>THE CENTER</ion-list-header>
    <ion-item *ngFor="let item of centerCaves; let i = index">
      <h2>{{item.name}} Cave <i *ngIf="item.type">({{item.type}})</i></h2>
      <h3>GPS: {{item.lat}}, {{item.lon}}</h3>
      <p *ngIf="item.artifact">Artifact of the {{item.artifact}}</p>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>SCORCHED EARTH</ion-list-header>
    <ion-item *ngFor="let item of scorchedCaves; let i = index">
      <h2>{{item.name}} Cave <i *ngIf="item.type">({{item.type}})</i></h2>
      <h3>GPS: {{item.lat}}, {{item.lon}}</h3>
      <p *ngIf="item.artifact">Artifact of the {{item.artifact}}</p>
    </ion-item>
  </ion-list>

</ion-content>
