page-commands {
    ion-row {
        background-color: rgba(255, 255, 255, 0.7) !important;
        margin-bottom:2px;
    }
    .entity {border:2px solid;border-radius: 6px;padding:0 10px 0 0;margin-right:8px;}

    .entity.id {border-color:green;color:green;}
    .entity.id strong{background-color:green;color:white;margin-right:5px;padding:0 12px 0 12px;min-width:70px;float:left;}

    .entity.stack {border-color:blue;color:blue;}
    .entity.stack strong{background-color:blue;color:white;margin-right:5px;padding:0 12px 0 12px;min-width:70px;float:left;}

    .entity.type {border-color:gray;color:gray;}
    .entity.type strong{background-color:gray;color:white;margin-right:5px;padding:0 12px 0 12px;min-width:70px;float:left;}
}